<html>
	<head>
		<title><%= title %></title>
    	<meta charset="utf-8">
		<% if (!production) { %>
		<script src="http://localhost:35729/livereload.js"></script>
		<% } %>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	</head>
	<body style="padding-top: 70px">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="<%= rootUrl %>">
					<img src="<%= logo %>"
						 alt="openCPQ logo"
						 width="68"
						 height="28">
				</a>
			</div>
			<div class="navbar-collapse collapse navbar-responsive-collapse">
				<ul class="nav navbar-nav">
					<% for (var item of navigation) { %>
					<li<%- item.url === url ? ' class="active"' : '' %>>
						<a href="<%= item.url %>"
						   target="<%-
								   item.url.startsWith(rootUrl)
								   ? "_self"
											: "_blank"
													  %>">
							<%= item.name %>
						</a>
					</li>
					<% } %>
				</ul>
			</div>
		</nav>
		<div class="container">
			<div class="row row-offcanvas row-offcanvas-left">
        
				<% switch (type) {
				   case "blog": %>
				<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
					<div class="well">
						<h4>Recent Posts:</h4>
						<ul class="nav nav-stacked">
							<% for (var b of groups.blog.slice(0,10)) { %>
							<li>
								<a href="<%= b.url %>">
									<div>
										<i><%= b.dateString %>, <%= b.author %></i>
										<br>
										<%= b.title %>
									</div>
								</a>
							</li>
  							<% } %>
						</ul>
					</div>
				</div>
				<div class="col-xs-12 col-sm-9">
					<i><%= dateString %>, <%= author %></i>
					<%- contents %>
				</div>
  				<% break;
				   case "demo": %>
				<div class="col-xs-12 col-sm-9">
					<h1><%= title %></h1> 
					<%- contents %>
					<h2>Running the Configurator in the Web</h2>

					The configurator can be started from <a href="<%= life_url %>" target="_blank"><%= life_url %></a>.
				</div>
  				<% break;
				   case "presentation": %>
				<div class="col-xs-12 col-sm-9">
					<h1><%- title %></h1>
					<%- presenter %>, 
					<i><a href="<%- venue_url %>" target="_blank"><%- venue %></a></i>,
					<%= dateString %>

					<h2>Abstract</h2>
					<%- contents %>
					
					<h2>Slides</h2>
					<ul>
					<li><a href="<%- pdf_url %>">PDF (for printing)</a></li>
					<li><a href="<%- pdf_expanded_url %>">PDF (for presenting)</a></li>
					<li><a href="<%- slideshare_url %>" target="_blank">Slideshare</a></li>
					</ul>
					
					<iframe	src="//de.slideshare.net/slideshow/embed_code/key/<%= slideshare_embedcode %>" 
						width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"
						style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen>
					</iframe>
				</div>
  				<% break;
				   default: %>
				<div class="container">
					<%- contents %>
				</div>
  				<% break;
				   } %>
			</div>
			<footer style="margin: 10px 0px;">
				<hr>
				<p>
					openCPQ was initiated and published as open-source software by
					<a href="http://www.webxcerpt.com">webXcerpt Software GmbH</a>.
					<br>
					Contact: <script>
						var addr = atob("b3BlbmNwcUBvcGVuY3BxLm9yZw==");
						document.write("<a href='mailto:" + addr + "'>" + addr + "</a>")
					</script>
				</p>
			</footer>
		</div>
	</body>
</html>
