<!DOCTYPE html>
<html>
<head>
	<title>openCPQ: {{ page.title }}</title>
</head>
<body>
	<div>
		<span>
			<img src="{{ "/images/openCPQ-logo-100x41.png" | prepend:site.baseurl }}">
			<b>
				openCPQ - A Browser-Based Product-Configuration Framework
			</b>
		</span>
		<hr>
		<div>
			{% include navbar.html %}
		</div>
		<hr>
		<div>
			{{ content }}
		</div>
		<hr>
		<div>
			openCPQ was initiated and published as open-source software by
			<a href="http://www.webxcerpt.com">webXcerpt Software GmbH</a>.
			<br>
			Contact: opencpq (at) opencpq (dot) org
		</div>
	</div>
</body>
</html>
